body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #d9dee8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: #7cb0ede1;
  padding: 100px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(149, 129, 243, 0.15);
  width: 90%;
  max-width: 1000px;
  height: 200px;
  text-align: center;
}

h1, h2 {
  color: #e0e8f0;
}

#question {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: left;
}

#options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease;
}

#start-btn {
  background-color: #4f51d5;
  color: white;
  margin-top: 20px;
}

.lang-btn {
  background-color: #e0e7ff;
  border: 1px solid #c7d2fe;
  color: #1e40af;
  margin: 10px;
}

.lang-btn:hover {
  background-color: #a5b4fc;
  color: white;
}

.option-btn {
  background-color: #e0e7ff;
  border: 1px solid #c7d2fe;
}

.option-btn:hover {
  background-color: #a5b4fc;
  color: white;
}

.correct {
  background-color: #4ade80 !important;
  color: white;
}

.wrong {
  background-color: #f87171 !important;
  color: white;
}

#next-btn {
  margin-top: 20px;
  background-color: #6366f1;
  color: white;
}

#next-btn:disabled {
  background-color: #c7d2fe;
  cursor: not-allowed;
}

.hidden {
  display: none;
}

.certificate-msg {
  margin-top: 15px;
  font-size: 0.95rem;
  color: #1e293b;
}
